[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=ρcam
Exec=/opt/rawcam/bin/rawcam
Icon=rawcam
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
X-Window-Icon-Dimmed=fcamera
