QPushButton {
     background-color: transparent;
/*     border-style: outset;
     border-width: 2px;
     border-color: #DDDDDD;*/
     color: #BBBBBB;
     min-width: 40px;
     max-width: 50px;
     min-height: 40px;
     font-size: 35;
/*     border-radius: 44px;*/
}

QPushButton#shutter {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
}

QPushButton:checked{
    color: white;
}

QPushButton#w {
    max-width: 1px;
    min-width: 1px;
    border-width: 0px;
    background-color: black;
/*    rgb(12, 14, 3);*/
}

QPushButton#help  {
    background-color: rgba(0,0,0,0.5);
    border-image: url(/opt/rawcam/helpBg.png);
    color: white;
    font-size: 20;
    padding-left: 30px;
    max-width: 320px;
    max-height: 80px;
}

QPushButton#sf{
    background: url("/opt/rawcam/spotGrey.png") no-repeat transparent;
    border: 0 none;
}

QPushButton#sf:checked{
    background-image: url("/opt/rawcam/spot.png");
}


QLabel {
    background-color: transparent;
    color: white;
    font-size: 20;
    text-align: right;
}

QLabel#spot, dot#spot {
    max-width: 30px;
    max-height: 30px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid white;
}

QSlider::groove:horizontal {
     height: 30px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     background: url(/opt/rawcam/halftone.png);
     margin: 2px 0;
 }

 QSlider::handle:horizontal {
     background: transparent;
     border: 2px solid white;
     min-height: 30px;
     width: 20px;
     padding: 15px;
     margin: -6px 0px; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
     border-radius: 15px;
 }

QSlider::groove:vertical {
     width: 30px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
     background: url(/opt/rawcam/halftone.png);
     margin: 0 2px;
 }

 QSlider::handle:vertical {
     background: transparent;
     border: 2px solid white;
     min-width: 30px;
     height: 20px;
     padding: 15px;
     margin: 0 -6px; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
     border-radius: 15px;
 }
