Source: rawcam
Section: user/unknown
Priority: extra
Maintainer: Philippe Coval <rzr@gna.org>
Build-Depends: debhelper (>= 5), pkg-config,
 libfcam-dev,
 libqt4-dev,
 libqt4-declarative-dev, libqtm-multimedia-dev, libqtm-sensors-dev,
 libjpeg62-dev
Standards-Version: 3.7.2

Package: rawcam
Architecture: any
Section: user/unknown
Depends: fcam0 | fcam1, ${shlibs:Depends}, ${misc:Depends}
Description: FCam rawcam
 FCam rawcam for Harmattan
